@use "font" as *;
@use "mixins" as *;


.display{
    color: #e1b303;    
    font-weight: 700;
    font-family: 'Orbitron';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;

}

.hud__left{
    position: absolute;
    left: 3vh;
    top: 3vh;
    transform: skew(0deg, 10deg);
    @include mobileLarge{
        left: 3vh;
        top: 5vh;
    }

    @include tablet{
        left: 6vh;
    }

    @include desktop{
        left: 8vh;
    }

    &-text{
        color: #FF3131;
        font-size: 1.75rem; 

        @include tablet{
            font-size: 2.5rem;
        }

        @include desktop{
            font-size: 3rem;
        }
    }

    &-score{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;

        @include tablet{
            font-size: 2.5rem;
        }

        @include desktop{
            font-size: 3rem;
        }
    }
}

.hud__right{
    position: absolute;
    right: 3vh;
    top: 3vh;
    transform: skew(0deg, -10deg);
    
    @include mobileLarge{
        right: 3vh;
        top: 5vh;

    }

    @include tablet{
     right: 6vh; 
    }

    @include desktop{
       right: 8vh; 
    }


    &-text{
        color: #FF3131;
        font-size: 1.75rem;

        @include tablet{
            font-size: 2.5rem;
        }

        @include desktop{
            font-size: 3rem;
        }
    }

    &-speed{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;

        @include tablet{
            font-size: 2.5rem;
        }

        @include desktop{
            font-size: 3rem;
        }
    }
}