@use "font" as *;
@use "mixins" as *;

.display{
    opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #e1b303;    
    font-weight: 700;
    font-family: 'Orbitron';

    &-right{

    }

    &__score-container{
        font-weight: 600;
        position: absolute;
        width: 200px;
        margin: 0;

        @include tablet {
            bottom: 5vh;
            right: 8vh;
        }

        @include desktopLarge{
            right: 16vh;
            bottom: 10vh;
        }
    }

    &__title-score{
        
        color: #FF3131;
        font-weight: 600;
        margin: 0;

        @include tablet{
            font-size: 2rem;
        }

        @include desktopLarge{
            font-size: 4rem;
        }
    }

    &__score{
       
       font-weight: 600;
       margin: 0; 

       @include tablet{
           font-size: 4rem;
       }

       @include desktopLarge{
        font-size: 6rem;
       }
    }
    
    &__speed-container{
        font-weight: 600;
        position: absolute;
       
        width: 200px;
        margin: 0;

        @include tablet {
            bottom: 20vh;
            right: 8vh;
        }

        @include desktopLarge{
            right: 16vh;
            bottom: 25vh;
        }
    }

    &__title-speed{
        color: #FF3131;
        font-weight: 600;
        margin: 0;

        @include tablet{
            font-size: 2rem;
        }

        @include desktopLarge{
            font-size: 4rem;
        }
    }

    &__speed{
        font-size: 6rem;
        font-weight: 600;
        margin: 0; 
        
        @include tablet{
            font-size: 4rem;
        }

        @include desktopLarge{
            font-size: 6rem;
        }
    }
    
}
